.user-form {
  align-self: center;
  align-items: center;
  margin-top: 140px
}

.user-form input {
  width: 400px;
}

.user-form .upload-profile-picture {
  display: none;
}

input[type="text"], input[type="password"] {
  margin-top: 10px;
  display: block;
  width: 400px;
  /* height: 40px; */
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  align-content: center;
  outline: none;
}

input[type="submit"] {
  outline: none;
  margin-top: 10px;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  display: inline-block;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  white-space: nowrap;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  box-sizing: border-box;
  width: 100%;
}

.user-form .user-thumb-upload {
  width: 100%;
  height: 40px;
  background-color: #f50;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  line-height: 40px;
  margin-top: 10px;
  outline: none;
}

.user-form .error {
  border: 1px solid #f50;
}

.errors {
  color: #f50;
  list-style: none;
  font-size: 12px;
  padding-top: 8px;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
