.progress-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0,0,0,.15);
}

.progress-bar .elapsed-time {
  color: #f50;
}

.progress-bar .control-buttons {
  margin-left: 6%;
}

.progress-bar .duration {
  margin-left: 3%;
}

.progress-bar .rewind {
  background-image: url('https://maxcdn.icons8.com/Share/icon/Media_Controls//rewind_filled1600.png');
}

.progress-bar .bar-section {
  display: flex;
  align-content: space-between;
  width: 33%;
}

.fa-step-backward, .fa-play, .fa-step-forward {
  padding: 17px;
}

.elapsed-time, .duration, .title {
  font-size: 12px;
  padding-top: 18px;
}

progress {
  color: #f50;
  width: 95%;
  height: 1px;
  background: #f50;
  margin-top: 26px;
  margin-left: 12px;
}

progress::-webkit-progress-bar { background: lightgray; }
progress::-webkit-progress-value { background: #f50; }
