.track-image {
  height: 162px;
  width: 162px;
  border: 1px solid lightgray;
}

.stream-item-content {
  display: flex;
  list-style: none;
}

.stream-item-author {
  padding-bottom: 18px;
  font-size: 12px;
  color: #999;
}

.author-link {
  color: #333;
}

.stream-index-item {
  list-style: none;
  padding: 30px;
}

.stream-index-item .track-title {
  padding-top: 12px;
  font-size: 15px;
  line-height: 1.2;
  color: #333;
  font-weight: 100;
  cursor: auto;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.stream-index-item .fa {
  color: #f50;
  padding: 12px;
}
