.track-image {
  height: 162px;
  width: 162px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.stream-item-content {
  display: flex;
  list-style: none;
}

.comment-thumb {
  width: 20px;
  height: 20px;
}

.stream-item-author {
  padding-bottom: 18px;
  font-size: 12px;
  color: #999;
}

.author-link {
  color: #333;
}

.stream-index-item {
  list-style: none;
  padding: 30px;
  position: relative;
}

.stream-index-item .track-title {
  padding-top: 12px;
  font-size: 15px;
  line-height: 1.2;
  color: #333;
  font-weight: 100;
  cursor: auto;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.stream-index-item .elapsed-time, .stream-index-item .duration {
  font-size: 12px;
  height: 15px;
  color: gray;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  padding: 2px;
}

.stream-index-item .elapsed-time {
  color: #f50;
}

.stream-index-item .fa {
  color: #f50;
  padding: 12px;
}

.right-track-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}

.stream-index-item .comments {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.right-track-section .fa{
  color: #ccc;
  cursor: pointer;
}
