.waveform:hover {
}


.waveform {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  max-width: 600px;
}

.track-show-content .waveform {
  position: absolute;
  top: 120px;
  left: 50px;
}

.waveform .elapsed-time {
  position: absolute;
  top: 66px;
  left: 5px;
}

.waveform .duration {
  position: absolute;
  top: 66px;
  right: 5px;
}

.waveform .comment-thumb {
  position: absolute;
  top: 92px;
}
